.mainAuthButton {
  font-size: 15px;
  font-weight: 600;
  color: #39913a;
  padding: 6px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #39913a;
  cursor: pointer;
  transition: all ease 0.5s;
}

.mainAuthButton:hover {
  color: aliceblue;
  background-color: #39913a;
}

.sideAuthButton {
  margin: 40px;
  font-size: 20px;
  padding: 6px 35px;
  font-weight: 600;
  color: #39913a;
  border-radius: 14px;
  background-color: transparent;
  border: 1px solid #39913a;
  cursor: pointer;
  transition: all ease 0.5s;
}

.sideAuthButton:hover {
  color: rgba(240, 240, 248, 0.8);
  background-color: #39913a;
}